<!------------------------------------------------------------------------------
  login.ejs
------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en-US">

<head>
  <%- include ('../partials/head.ejs') %>
    <link href="/css/login.css" rel="stylesheet">
    </link>
</head>

<body xclass="text-center">
  <main class="form-signin">
    <form action="login" method="POST">
      <!-- Add csrf token here if needed -->
      <h1> <span class="famblr-logo">Famblr</span></h1>
      <h2 class="h3 mb-3 fw-normal text-muted">Please Sign In</h1>

        <div class="row mb-2">
          <div class="col">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="name@example.com" value="<%= oldInput.email %>"
              class="form-control  <%= errorMessage ? 'is-invalid' : '' %>" required>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col">
            <label for="email">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" value="<%= oldInput.password %>"
              class="form-control  <%= errorMessage ? 'is-invalid' : '' %>" required>

            <div class="invalid-feedback">
              <%= errorMessage %>
            </div>
          </div>
        </div>

        <button class="mt-3 w-100 btn btn-lg btn-primary mt-3" type="submit">Login</button>

        <p class="mt-3">Dont have an account? <a href="/signup">Sign Up</a></p>
        <p class="mt-5 mb-3 text-muted">© 2021</p>
    </form>
  </main>

  <%- include ('../partials/js-imports.ejs') %>
</body>

</html>