<!------------------------------------------------------------------------------
  login.ejs
------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en-US">

<head>
  <%- include ('../partials/head.ejs') %>
    <link href="/css/login.css" rel="stylesheet">
    </link>
</head>

<body class="text-center">
  <main class="form-signin">
    <form action="postLogin" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <h1 class="famblr-logo">Famblr</h1>
      <h2 class="h3 mb-3 fw-normal text-muted">Please sign in</h1>

        <div class="form-floating">
          <input type="email" name="email" value="<%= oldInput.email %>"
            class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'is-invalid' : '' %>"
            id="floatingInput" placeholder="name@example.com" required>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password"
            class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'is-invalid' : '' %>"
            id="floatingPassword" placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

        <p class="mt-3">Dont have an account? <a href="/account/signup">Sign Up</a></p>
        <p class="mt-5 mb-3 text-muted">© 2021</p>
    </form>
  </main>
</body>