<!------------------------------------------------------------------------------
  index.ejs
------------------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en-US">

<head>
    <%- include ('partials/head.ejs') %>
</head>

<body>
    <%- include ('partials/sidebar.ejs') %>
        <%- include ('partials/top-navbar.ejs') %>
            <%- include ('partials/right-sidebar.ejs') %>

                <div id="content-page" class="content-page">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-12 row m-0 p-0">

                                <!-- Account Settings Card -->
                                <div class="iq-card w-100">

                                    <div class="iq-card-header d-flex justify-content-between">
                                        <div class="iq-header-title">
                                            <h4 class="card-title">Edit Post</h4>
                                        </div>
                                    </div>

                                    <div class="iq-card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="post-text ml-3 w-100">
                                                <textarea v-model="postText" type="text" class="form-control rounded"
                                                    rows="2" style="border:none; line-height: 1.25; min-height: 3em;"
                                                    id="postText" required><%= post.text %></textarea>
                                            </div>
                                        </div>
                                        <hr>
                                        <ul
                                            class="post-opt-block d-flex align-items-center list-inline justify-content-between m-0 p-0">
                                            <a href="#">
                                                <li class="iq-bg-primary rounded p-2 pointer mr-3">
                                                    <img src="/images/small/07.png" alt="icon"
                                                        class="img-fluid">&nbsp;Add Photo
                                                </li>
                                            </a>
                                            <li>
                                                <button @click="savePost" id="saveButton"
                                                    class="btn btn-primary d-block">Save</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <%- include ('partials/footer.ejs') %>
                    <%- include ('partials/js-imports.ejs') %>

                        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
                        <script>
                            const loginApp = new Vue({
                                el: '.container',
                                data: {
                                    postText: `<%= post.text %>`,
                                },
                                computed: {
                                    postId: function () {
                                        return window.location.pathname.split("/")[2];
                                    }
                                },
                                methods: {
                                    savePost: async function () {
                                        console.log("Saving Post...")
                                        try {
                                            let response = await axios.put(`/api/posts/${this.postId}`, {
                                                text: this.postText
                                            })

                                            this.postText = response.data.post.text;

                                            console.log("Post Successfully Updated")

                                        } catch (error) {
                                            console.error(error.response.data.error);
                                        }
                                    }
                                },
                            })
                        </script>


</body>

</html>